.logo {
    transform: translateY(22px) scale(0.7);
    transform-origin: center left;
    padding-left: 2px;

    @media (min-width: 800px) {
        transform: translateY(12px) scale(1);
    }
    
    @keyframes dash {
        0% {
            stroke-dashoffset: 220;
            fill: transparent;
            stop-opacity: 0;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    
    path {
        stroke: #000000;
        fill: #000000;
        stroke-dasharray: 220;
        stroke-dashoffset: 0;
        animation: dash 4.3s forwards;
    }
}

.hello {
 font-size: 30px;
 line-height: 37px;
 font-weight: 500;
 font-family: var(--font-inter-tight);

 @media (min-width: 800px) {
    font-size: 60px;
    line-height: 80px;
    padding-top: 100px;
  }
}

.subHeading {
    font-family:  var(--font-inter);
    font-size: 31px;
    line-height: 42px;
    font-weight: 300;
    color: #666666;
}

.sayHi {
    width: 62px;
    height: 65px;
    transform: translateY(20px);

    @media (min-width: 800px) {
        width: 130px;
        height: 139px;
    }
}

.inline {
    display: inline;
}